@use './ParameterInput';
@use './NoteInput';
@use './GraphButton';
@use './DeleteButton';

.panel {
  /* Квадратная панель с фиксированными размерами по высоте и адаптивной шириной */
  width: 400px;
  height: 1080;
  // border: 1px solid #ddd;
  border-radius: 1vh;
  // padding: 2vh 2vw;
  background-color: #fff;
  // box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  margin: 2.5vh auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* убираем скролл */

  h2 {
    text-align: left;
    color: #333;
    margin: 1vh 0 2vh;
    font-size: 2vh;
  }

  // /* Контейнер для параметров */
  // .parameters {
  //   /* Располагается вверху – можно добавить отступы, если необходимо */
  // }

  /* Контейнер для примечания и кнопок – прижат к низу */
  .bottom-block {
    margin-top: auto;
  }

  /* Отступ между дочерними элементами внутри bottom-block */
  .bottom-block > * {
    margin-bottom: 1vh;
  }
}
