@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/fonts';
@use 'base/reset';
@use 'panel/Panel';
@use 'sidebar/Sidebar';
@use 'maincontent/MainContent';
@use 'header/Header';


html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;
  gap: 0;
  padding: 0;
  margin: 0; 
}


